<div class="container align-items-center mt-5">
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  <p><%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary mt-2" %></p>
</div>
